@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.7);
    padding: 50px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
}

#bulb {
    margin: 30px 0;
    transition: 1s ease;
    text-shadow: 3px 3px #ccc;
}

#message {
    color: red;
    margin-top: 5px;
    transition: 1s ease;
}

button {
    padding: 7px 15px;
    border: none;
    box-shadow: 0 3px 10px #777;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

button:hover {
    background-color: rgb(46, 46, 46);
    color: #fff;
}